@{
    ViewData["Title"] = "View Common Master";
}
@section Scripts {
    <script src="~/app/js/LkpEmpJob.js"></script>
}


<div class="modal-body" id="myModalBody">
    <!-- Partial view content goes here -->
    Test
</div>
