@{
  ViewData["Title"] = "Unathorized Access!!";
}
<h1 class="text-danger">@ViewData["Title"]</h1>

<p>
  You don't have sufficient privilidges to access this resource.<br />
  If you find this is an issue, please contact system administrator for further
  assistance.
  <br /><br />
  <a href="~/">Click here to go to home page</a>
</p>
