@{
    ViewData["Title"] = "Oops!! Something went wrong..";
}
<h1 class="text-danger">@ViewData["Title"]</h1>

<p>
    Error Loading Page. Please try again or contact admin.
    <br /><br />
    Error Id: @ViewBag.ErrorId
    <br /><br />
    <a href="~/">Click here to go to home page</a>
</p>
